.customer-name{
    font-size: 28 px;
    font-weight: 500;
    color: grey;  
} 

.customer-token{
    font-size: 40px;
    font-weight: 500;
    color: green;
}

.customer-token-neworders{
    
    font-size: 40px;
    font-weight: 500;
    color: red;
}